* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    padding: 0 10px;
    margin: auto;
}

header .navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .logo .logoText {
    font-size: 25px;
    color: white;
    display: flex;
    border: 1px solid white;
}

header .navbar .logo .logoText .logoT {
    background-color: white;
    color: black;
    padding: 5px 10px;
}

header .navbar .logo .logoText .logoTe {
    padding: 5px 10px;
    letter-spacing: 1.5px;
}

header .nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

header .nav ul li {
    padding: 5px;
}

header .nav ul a {
    color: white;
    text-transform: uppercase;
}

.homepage {
    background: url(https://wallpapers.com/images/featured/hot-air-balloon-f585vls2rn0ksix4.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    clip-path: polygon(-179% 0%, 50% 100%, 279% 0%);
}

.homepage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: -1;
}

.homepage .homeText {
    padding: 150px 0px;
    text-align: center;
    width: 600px;
    margin: auto;
    color: white;
}

.homepage .topheading {
    font-size: 18px;
    text-transform: capitalize;
}

.homepage h1 {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.homepage .divider span {
    color: red;
    font-size: 7px;
}

.homepage .divider::before {
    content: "";
    height: 2px;
    width: 140px;
    background-color: white;
    display: inline-block;
    margin: 2px 15px;
}

.homepage .divider::after {
    content: "";
    height: 2px;
    width: 140px;
    background-color: white;
    display: inline-block;
    margin: 2px 15px;
}

.homepage .inform {
    padding: 45px 0px;
}

.homepage .btnsgrp {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.homepage .btnsgrp .btn {
    height: 45px;
    width: 170px;
    text-transform: uppercase;
    color: white;
}

.homepage .btnsgrp .btn1 {
    background-color: orangered;
    border: transparent;
}

.homepage .btnsgrp .btn2 {
    background-color: transparent;
    border: 1px solid white;
}

.homepage .controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 314px;
    width: 100%;
    padding: 0 30px;
}

.homepage .controls button {
    height: 50px;
    width: 50px;
    font-size: 30px;
}

.homepage .controls button.prev {
    background-color: gray;
    border: none;
}

.homepage .controls button.next {
    background-color: orangered;
    color: white;
    border: none;
}

.point {
    position: relative;
}

.point .circlepoint {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -22px;
    z-index: 1;
}

.point .circle {
    height: 50px;
    width: 50px;
    background-color: rgb(222, 218, 218);
    border-radius: 50%;
    font-size: 20px;
    color: orangered;
    display: grid;
    place-content: center;
}

.gridInform .gridbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px 0px;
    gap: 20px;
}

.gridInform .gridbox .grid {
    text-align: center;
}

.gridInform .gridbox .iconBox {
    height: 100px;
    width: 100px;
    display: grid;
    place-items: center;
    margin: auto;
    font-size: 30px;
    position: relative;
}

.gridInform .gridbox .iconBox .icon2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid red;
    transform: rotate(45deg);
}

.gridInform .gridbox .iconBox .icon1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
}

.gridInform .gridbox h2 {
    padding-top: 30px;
    padding-bottom: 10px;
}

.gridInform .gridbox .divide {
    height: 2px;
    width: 100px;
    margin: auto;
    background-color: black;
}

.gridInform .gridbox p {
    padding-top: 20px;
    color: gray;
}